/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,600,600i,700,700i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family:'Raleway',sans-serif;
    color: #888888;
    line-height: 1.7;
    font-size: 17px;
}
a:hover { text-decoration: none }


.section-padding {
    padding: 80px 0;
}
.pricing-tables {
    overflow: hidden;
    padding: 30px 20px;
}
.single-pricing-box {
    float: left;
    width: 33.333333%;
    box-shadow: 0 0 10px #f3f3f3;
    margin-top: 30px;
    position: relative;
    z-index: 1;
    background: #fff;
}
.pricing-heading {
    background: #f9f9f9;
    font-size: 16px;
    padding: 40px;
}
.pricing-heading h4 {
    font-size: 30px;
    font-weight: 500;
}
.pricing-heading h1 {
    font-size: 50px;
    color: #333333;
    font-weight: 400;
}
.pricing-content {
    padding: 60px;
}
.pricing-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.pricing-content li {
    margin-bottom: 15px;
}
.bordered-btn {
    display: inline-block;
    color: #F91942;
    border: 1px solid #F91942;
    border-radius: 50px;
    padding: 13px 30px;
    font-weight: 600;
    margin-top: 30px;
    -webkit-transition: .3s;
    transition: .3s;
}
.bordered-btn:hover{
    background: #F91942;
    color: #fff;
}
.active .pricing-heading {
    background: #F91942;
    color: #fff;
}
.active .pricing-heading h1 {
    color: #fff;
}
.single-pricing-box.active {
    position: relative;
    z-index: 2;
    margin-left: -.5%;
    margin-right: -.5%;
    width: 34.333333%;
    margin-top: 0;
    overflow: hidden;
}
.active .pricing-content {
    padding: 80px 60px;
}
.active .bordered-btn {
    background: #F91942;
    color: #fff;
}
.active .pricing-heading:after {
    background: #fff;
    content: "Featured";
    position: absolute;
    top: 25px;
    right: -37px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    padding: 5px 50px;
    font-size: 14px;
    color: #F91942;
}