/* Base CSS */
@font-face {
  font-family: 'CodeBold';
  src: url('../fonts/CODEBold.eot');
  src: url('../fonts/CODEBold.eot') format('embedded-opentype'), url('../fonts/CODEBold.woff2') format('woff2'), url('../fonts/CODEBold.woff') format('woff'), url('../fonts/CODEBold.ttf') format('truetype'), url('../fonts/CODEBold.svg#CODEBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CodeLight';
  src: url('../fonts/CODELight.eot');
  src: url('../fonts/CODELight.eot') format('embedded-opentype'), url('../fonts/CODELight.woff2') format('woff2'), url('../fonts/CODELight.woff') format('woff'), url('../fonts/CODELight.ttf') format('truetype'), url('../fonts/CODELight.svg#CODELight') format('svg');
  font-weight: normal;
  font-style: normal;
}

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: normal;
    font-family: 'CodeLight',sans-serif;
}
body {
    font-family: 'Karla', sans-serif;
}
a:hover { text-decoration: none }

.homepage-slider-wrap{background-image: url(../img/hero-bg.jpg)}
.product-bg-1{background-image: url(../img/lady-1.png)}
.product-bg-2{background-image: url(../img/lady-2.png)}
.product-bg-3{background-image: url(../img/lady-3.png)}
.product-bg-4{background-image: url(../img/lady-4.png)}
.product-bg-5{background-image: url(../img/lady-5.png)}
.product-bg-6{background-image: url(../img/lady-6.png)}
.product-bg-7{background-image: url(../img/lady-7.png)}
.product-bg-8{background-image: url(../img/lady-8.png)}
.product-bg-9{background-image: url(../img/lady-9.png)}
.product-bg-10{background-image: url(../img/lady-10.png)}


.header-top-area {
    color: #5b3f61;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    
        
}
.header-top-area a.menu-trigger {
    display: none;
}
.header-left ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.header-left li {
    display: inline-block;
}
.header-top-area a {
    display: inline-block;
    padding: 15px;
}
.header-right {
    text-align: right;
}
.search-trigger i.fa {
    padding-left: 10px;
}
.homepage-slider-wrap {
    background-color: #ead6cf;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
html, body {
    height: 100%;
}
.single-slide-item {
    position: relative;
}
.single-slide-item img {
    bottom: 0;
    left: 50%;
    margin-left: -375px;
    position: absolute;
    width: 750px;
}
.slide-text-table {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 9;
}
.homepage-slider-wrap div {
    height: 100%;
}
.slide-text-tablecell {
    color: #e84f88;
    display: table-cell;
    font-family: CodeLight,sans-serif;
    font-size: 120px;
    line-height: 100px;
    padding-left: 15%;
    vertical-align: middle;
}

.slide-text-tablecell strong {
    font-family: CodeBold;
    font-weight: normal;
}
.slide-alternative-color {
    color: #b6d0db;
}

.big-menu {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.big-menu li {
    background: #ecf3e8 none repeat scroll 0 0;
    float: left;
    font-family: CodeLight, sans-serif;
    font-size: 50px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 30%;
}
.big-menu li:hover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.big-menu li a {
    color: #5b3f61;
    display: block;
    padding: 180px 29px 29px;
    text-align: right;
}
.big-menu li:nth-child(2) a {
    color: #e84f88;
    font-family: CodeBold;
    font-weight: normal;
}
.big-menu li:nth-child(2) {
    background-color: #f1e5e5;
}
.big-menu li:nth-child(3) {
    background-color: #f6f3e6;
}
.big-menu li:nth-child(4) {
    background-color: #ecf4f5;
}
.big-menu li:nth-child(2), .big-menu li:nth-child(3) {
    width: 20%;
}



