/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'PT Serif', serif;
}
a:hover { text-decoration: none }

body, html {
    height: 100%;
}

.testimonial-bg {
    background-image: url(../img/background-bg-3.jpg);
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    z-index: 1;
}
.testimonial-bg:after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: #333;
    left: 0;
    top: 0;
    opacity: .7;
    z-index: -1;
}
.section-padding {
    padding: 100px 0;
}

.user-avater img {
    max-width: 100px;
    border-radius: 50px;
    margin: 0 auto;
}
.single-testimonial-item {
    color: #fff;
    text-align: center;
    padding: 30px;
}
.user-avater {
    margin-bottom: 30px;
}
.testimonial-content p {
    font-size: 26px;
    font-style: italic;
    line-height: 30px;
}
.single-testimonial-item h4 {
    color: #A4A4A3;
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
}
.single-testimonial-item h4 span {
    display: block;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #A29F9B;
}
.testimonial-carousel .owl-dots div {
    height: 15px;
    width: 15px;
    background: #2AE8E9;
    content: ;
    display: inline-block;
    border-radius: 50px;
    margin: 5px;
}
.testimonial-carousel .owl-dots div.active {
    background: #fff;
}
.testimonial-carousel .owl-dots {
    text-align: center;
}
.testimonial-carousel::before, .testimonial-carousel::after {
    position: absolute;
    font-family: fontawesome;
    font-size: 40px;
    color: #fff;
}
.testimonial-carousel::before {
    content: "\f10d";
    left: -50px;
    top: 155px;
}
.testimonial-carousel::after {
    content: "\f10e";
    right: -50px;
    bottom: 155px;
}