/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    
}
body {
    font-family: 'Vidaloka', serif;
    color: #BCBCBC;
    font-size: 16px;
}

a:hover { text-decoration: none }

.creative-bg-inner {background-image: url(../img/project-bg-1.jpg); background-color: #ddd;background-size: cover;background-position: center;}
.creative-bg-1 {background-image: url(../img/project-bg-2.jpg);}

.creative-bg-inner {
    height:  100%;
    width:  100%;
}
.creative-bg {
    height: 550px;
    margin-bottom: 150px;
    position: relative;
    z-index: 2;
    margin-left: -120px;
    margin-right: 30px;
}

h2.creative-section-tiltle {
    color:  #000;
    font-size: 80px;
    background:  #fff;
    padding: 25px;
    margin-left: -270px;
    margin-top: 55px;
    position:  relative;
    z-index: 3;
    padding-right: 0;
}
.creative-text {
    padding-right: 40px;
}

a.inline-border-btn {
    color:  #000;
    border-bottom: 2px solid #C99F5D;
    padding:  10px 0;
    display: inline-block;
}

.creative-bg:before {
    background:  #F1F1F1;
    height:  100%;
    width:  100%;
    left: -35px;
    top: 35px;
    content:  "";
    position:  absolute;
    z-index: -1;
}

.creative-bg:after {
    background:  #C99F5D;
    right: 33%;
    bottom: -13%;
    content:  "";
    position:  absolute;
    width:  2px;
    height: 100px;
    z-index:  2;
}

.right-side h2.creative-section-tiltle {
    margin-left:  0;
    margin-right: -270px;
    padding-left:  0;
}

.right-side .creative-bg {
    margin-left: 30px;
    margin-right: -120px;
}

.right-side .creative-bg:before {
    left: auto;
    right: -35px;
}

.right-side .creative-bg:after {
    right: auto;
    left: 33%;
}