/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 900;
    color: #151515;
    
}
body {
    color: #464646;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

a:hover { text-decoration: none }

.section-padding {
    padding: 80px 0;
}

.setion-tiltle {
    text-align:  center;
    margin-bottom: 60px;
}

.setion-tiltle h2 {
    text-transform:  uppercase;
}

.section-img img {
    max-width: 70%;
}

.section-img {text-align:  right;position:  relative;z-index:  1;}

.section-img:after {
    position:  absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 70%;
    content: "";
    background: #000;
    opacity: .2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

.section-text {
    padding: 20px;
    border: 10px solid #EFEFEF;
    position: relative;
    padding-top: 35px;
    padding-bottom: 30px;
    height: 280px;
    max-width: 82%;
    padding-right: 40px;
    margin-top: -140px;
    z-index: 5;
    background-color:  #fff;
    line-height: 1.5;
    font-weight: 500;
}

.social-links a i.fa {
    height: 50px;
    width: 50px;
    background: #EFEFEF;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: #4267B2;
    margin: 5px 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.social-links {
    position:  absolute;
    right: -30px;
    top: 0;
    width:  50px;
    display: table;
    height: 100%;
}

.socila-links-wrapper {
    display:  table-cell;
    vertical-align:  middle;
}

.section-text h2 {
    text-align:  center;
    font-size: 35px;
}
.right-side .section-img {
    text-align:  left;
}

.right-side .section-img:after {
    right: auto;
    left:  0;
}

.right-side .section-text {
    float:  right;
    padding-left:  40px;
    padding-right: 20px;
}

.right-side .social-links {
    right:  auto;
    left:  -30px;
}

.social-links a:hover i.fa.fa-facebook {
    background: #4267B2;
    color:  #ffffff;
}

.social-links a i.fa.fa-twitter {
    color: #00AEFF;
}

.social-links a:hover i.fa.fa-twitter {
    background: #00AEFF;
    color:  #ffffff;
}

.social-links a i.fa.fa-google-plus {
    color: #F54132;
}

.social-links a:hover i.fa.fa-google-plus {
    background: #F54132;
    color:  #ffffff;
}
.social-links a i.fa.fa-linkedin {
    color: #1455BB;
}

.social-links a:hover i.fa.fa-linkedin {
    background: #1455BB;
    color:  #ffffff;
}
