/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
body {
    font-family: 'Roboto', sans-serif;

}
a:hover { text-decoration: none }


.section-padding {
  padding: 80px 0;
}
.map {
    height: 480px;
    width: 100%;
}

.section-bg {
  background: #33384F;
  padding: 25px 70px 0 70px;
  color: #fff;
}
.section-title {
  font-weight: 300;
  font-size: 70px;
  margin: 0;
}
.section-description p {
  margin: 0;
  padding-top: 25px;
  padding-left: 60px;
  color: #8F95A3;
  font-size: 16px;
}
.section-description p.strong {
}
.section-description p strong {
  color: #fff;
}
.section-description {
  margin-bottom: 80px;
}
.location-direction {
  margin: 0;
  padding: 25px 0 0 50px;
  list-style: none;
}
.location-direction li h3 {
  color: #CF9636;
  font-size: 40px;
  margin: 0;
}
.location-direction li {
  position: relative;
  display: block;
  padding-bottom: 30px;
  z-index: 1;
  margin-bottom: 30px;
}
.location-direction li:after {
  position: absolute;
  content: "";
  background: #44485E;
  height: 1px;
  width: 35%;
  /*! margin-top: 20px; */
  left: 0;
  bottom: 0;
}
.location-direction li:last-child:after {
  display: none;
}
.location-direction li p {
  margin: 0;
  color: #928C99;
  text-transform: uppercase;
  font-size: 12px;
}
.location-direction li h3 span {
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  top: 20%;
}
.map {
  margin-bottom: -90px;
}