/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-family: 'PT Serif', serif;
    font-weight: 900;
}
body {
    font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }

.single-slide-item {
    background-image: url(../img/slide-bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-color: #ddd;
}
.slide-bg-2 {background-image: url(../img/slide-bg-2.jpg)}
.slide-bg-3 {background-image: url(../img/slide-bg-3.jpg)}


.logo {
    position: relative;
    width: 80px;
}
.logo-text h4 {
    position: absolute;
    top: 20px;
    left: 115px;
}
.logo-text a {
    color: #2C2E2D;
}
.logo-text h4 span {
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
}

.right-content-box {
    position: relative;
    font-weight: 300;
    color: #2C2E2D;
    display: inline-block;
    text-align: left;
    padding-left: 30px;
    margin-left: 30px;
    font-size: 15px;
}
.right-content-box i.fa {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 22px;
}
.text-right {
    padding-top: 18px;
}
.header-area {
    padding: 25px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
.right-content-box a {
    color: #2C2E2D;
}
.single-slide-item {
    padding-top: 220px;
    padding-bottom: 100px;
}
.slide-text {
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-weight: 300;
    padding-left: 70px;
    padding-bottom: 70px;
    padding-top: 50px;
    padding-right: 120px;
    color: #2C2E2D;
}
.slide-text:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: #fff;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.slide-text h2 {
    font-size: 55px;
    margin-bottom: 50px;
}
.boxed-btn {
    display: inline-block;
    background: #F28006;
    padding: 12px 30px;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
}
.slide-text .boxed-btn {
    margin-top: 20px;
}

.homepage-slides .owl-nav div {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    right: auto;
    line-height: 60px;
    margin-top: -30px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .5s;
    transition: .5s;
    color: #F28006;
}
.homepage-slides .owl-nav div.owl-next {
    right: 0;
    left: auto;
}
.homepage-slides:hover .owl-nav div {
    left: 60px;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    right: auto;
}
.homepage-slides:hover .owl-nav div.owl-next {
    right: 60px;
    left: auto;
}

.homepage-slides .owl-dots div {
    background: #fff;
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}
.homepage-slides .owl-dots div.active {
    background: #F28006;
}
.homepage-slides .owl-dots {
    left: 0;
    bottom: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
}