/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,600,600i,700,700i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family:'Raleway',sans-serif;
}
a:hover { text-decoration: none }


.section-padding {
  padding: 80px 0;
}
.tab-list {
  border-bottom: 2px solid #ddd;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #666666;
  font-size: 18px;
  line-height: 2;
}
.tab-content {
  margin-top: 40px;
}
.tab-list li {
  display: inline-block;
}
.tab-list li a {
  color: #666666;
  display: block;
  font-size: 24px;
  margin: 0 30px 10px 0;
    text-decoration: none;
  position: relative;
}
.tab-list li.active a {
  color: #FF0101;
}
.tab-list li.active a:after {
  background: #FF0101;
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -12px;
  z-index: 1;
}
