/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
.boxed-btn {
	padding: 20px 35px;
}
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.boxed-btn {
	padding: 20px 30px;
}
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
.boxed-btn {
	padding: 15px 18px;
}
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}