/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 900;
    color: #151515;
    
}
body {
    color: #464646;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

a:hover { text-decoration: none }

.section-padding {
    padding: 80px 0;
}

.project-bg {
    background-image: url(../img/dark-computer-screen-1920x1000.jpg);
    background-size: cover;
    background-position: center;
    background-color: #333;

}
.bg-2 {background-image: url(../img/black-and-white-laptop-1920x1000.jpg);}
.bg-3 {background-image: url(../img/computer-and-flowers-1920x1000.png);}

.featured-project-wrap {
    position:  relative;
}

.featured-project-wrap h2 {
    display:  inline-block;
    width: 32%;
    right:  0;
    position:  absolute;
    color:  #646469;
    font-weight: 400;
    top: 10%;
}

.featured-project-wrap h2 span {
    font-size: 170%;
    color:  #292A32;
}
.project-bg {
    left:  0;
    top: 0;
    height: 77%;
    width: 64%;
    position:  absolute;
    border:  15px solid #fff;
    margin-left: -15px;
}

.single-project-item {
    position:  relative;
    text-align:  right;
}

.project-text {
    display:  inline-block;
    text-align:  left;
    width: 60%;
    background-color:  #FC6224;
    color: #FEC6B5;
    padding-left: 320px;
    font-weight: 400;
    font-size: 18px;
    padding-top: 70px;
    padding-bottom: 110px;
    padding-right: 40px;
    margin-top: 200px;
}

.project-text h3 {
    color: #FFEAE5;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 25px;
}

a.more-link {
    color:  #FED4CA;
    font-weight: 600;
    display:  inline-block;
    margin-top: 55px;
}
.feature-projects .owl-dots div:nth-child(1):before {
    content: "01";
}

.feature-projects .owl-dots div:nth-child(2):before {
    content:  "02";
}

.feature-projects .owl-dots div:nth-child(3):before {
    content:  "03";
}
.feature-projects .owl-dots div:nth-child(4):before {
    content:  "04";
}
.feature-projects .owl-dots div:nth-child(5):before {
    content:  "05";
}

.feature-projects .owl-dots div {
    display:  inline-block;
    font-size: 50px;
    font-weight: 400;
    color:  #C1CCD1;
    margin-right:  20px;
    opacity:  .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.feature-projects .owl-dots div.active {
    color: #FC6224;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.feature-projects .owl-dots {
    position:  absolute;
    left:  0;
    bottom: 35px;
}

/* start Middle section*/
.section-padding.dark-middle-bg {
    background-color:  #100C5A;
    padding:  20px;
}

.middle-bg h1 {
    color:  #FC6224;
    font-size:  50px;
    text-transform:  uppercase;
    border-bottom:  2px solid;
    display:  inline-block;
}

.middle-bg {text-align:  center;}

/* end Middle section*/

.tab-list {
    margin:  0;
    padding:  0;
    list-style:  none;
    position: absolute;
    z-index: 99;
    bottom: -15px;
    left: 0;
}

ul.tab-list li {
    display:  inline-block;
}

ul.tab-list li a {
    font-size:  50px;
    margin-right: 15px;
    color: #BDCACE;
    opacity:  .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    display:  block;
    text-decoration:  none;
}

ul.tab-list li.active a {
    color:  #FC6224;
    opacity:  1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}