/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
	.mainmenu li a {
		color: green;
	}

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
	.mainmenu li a {
		color: red;
	}
	.logo img {
    padding: 10% 25% 10%;
}
.social-links {
    padding-top: 15%;
}
.copy-right-area {
    padding: 3%;
    line-height: 1.5;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	.mainmenu li a {
		color: blue;
	}
	.left-side {
    width: 25%;
    font-size: 85%;
}
.right-side {
    width: 75%;
    margin-left: 25%;
}
	.logo img {
    padding: 5% 30% 5%;
}
.social-links {
    padding-top: 10%;
}
.copy-right-area {
    padding: 3%;
    line-height: 1.5;
}
.mainmenu li {
    padding: 5%;
}
.right-side-wrap {
    font-size: 16px;
    line-height: 2;
    padding-left: 10%;
}
.boxed-btn {
    font-size: 80%;
    padding: 4% 10%;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	.mainmenu li a {
		color: orange;
	}

}