/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
body {
    font-family: 'Lato', sans-serif;

}
a:hover { text-decoration: none }

.header-top {
    background:  #0B0B0B;
    padding: 13px 0;
}

.header-top i.fa {
    padding-right: 5px;
    color: #FC721E;
    display: inline-block;
}

.header-top, .header-top a {
    color:  #f5f3f3;
}
.header-left {
    margin-top: 8px;
}
.socil-icons a {
    display:  inline-block;
    height:  33px;
    width: 33px;
    border: 1px solid #f5f3f3;
    line-height:  33px;
    text-align:  center;
    border-radius:  50%;
    margin-left: 2px;
    transition: .3s;
}

.socil-icons {
    display: inline-block;
    padding-left: 25px;
}

.socil-icons i.fa {
    padding-right: 0;
    color:  #f5f3f3;
}
.socil-icons a:hover {
    background:  #FC721E;
    border-color:  #FC721E;
}
.header-top i.fa-phone {
    padding-left: 20px;
}

.site-logo {
    font-size:  20px;
    font-weight:  700;
    margin:  0;
    display:  inline-block;
    border:  1px solid;
    padding:  15px 20px;
    text-transform:  uppercase;
    color:  #0b0b0b;
}

.mainmenu ul {
    margin: 0;
    padding:  3px 0;
    list-style:  none;
    margin-right: -10px;
}

.mainmenu li {
    display:  inline-block;
}

.mainmenu li a {
    display:  block;
    color:  #0b0b0b;
    text-transform: uppercase;
    font-size:  14px;
    font-weight:  900;
    padding: 13px 16px;
    border:  1px solid transparent;
    transition: .3s;
}
.mainmenu li:hover > a {
    border: 1px solid #FC721E;
}
.header-area {
    padding: 18px 0;
}



